version: "3"
services:
  prom:
    image: quay.io/prometheus/prometheus:v2.0.0
    volumes:
     - ./monitor/prometheus.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml --log.level=debug --storage.tsdb.path=/prometheus"
    ports:
     - "9090:9090"
  grafana:
    image: grafana/grafana
    ports:
     - "3000:3000"
    volumes:
      - ./grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prom