version: '3'
services:
  web:
    build: .
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    ports:
      - "5000:5000"
      - "8000:8000"
    links:
      - redis
    depends_on:
      - redis
  redis:
      container_name: redis
      image: redis
      ports:
        - "6379:6379"
      volumes:
        - ./data/redis:/data
      entrypoint: redis-server --appendonly yes
      restart: always