[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
redis = "*"
prometheus-client = "*"
flask-restful = "*"
flask = "*"
flask-prometheus = "*"
testing-redis = "*"
pytest-flask = "*"
mock = "*"

[requires]
python_version = "3.7"
